@media (max-width: 1399.98px) {
    .headline {
        font-size: 3.25rem;
    }
}

@media (max-width: 1199.98px) {
    .headline {
        font-size: 2.75rem;
    }

    .title {
        font-size: 2.25rem;
    }

    .homepage section.detail-blog .blog-list .title,
    .homepage section.detail-blog .other-blog .title
    .homepage .title-small {
        font-size: 1.5rem;
    }

    .homepage section.profile .col-profile {
        margin-top: -140px;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        left: -260px;
        transition: 600ms;
    }

    .sidebar.active {
        transition: 600ms;
        left: 0;
    }

    .dashboard {
        padding-left: 0;
    }

    .headline {
        font-size: 3rem;
    }

    .content-gap {
        margin-top: 42px;
    }

    .homepage section.hero {
        height: fit-content;
        padding-top: 120px;
    }

    .homepage section.gallery .gallery-image.image-square img {
        width: 100%;
        aspect-ratio: 4/2;
        object-fit: cover;
    }

    .homepage section.hero-small .description,
    .homepage section.detail-blog .wrapper {
        margin-bottom: 36px;
    }

    .homepage section.detail-blog .blog-list {
        margin-top: 36px;
    }

    .homepage section.detail-blog .blog-list .title,
    .homepage section.detail-blog .other-blog .title
    .homepage .title-small {
        font-size: 1.5rem;
        margin-bottom: 4px;
    }

    .homepage section.detail-blog .other-blog {
        border-left: none;
    }

    .homepage section.detail-blog .other-blog .title {
        margin-bottom: 32px;
        margin-top: 42px;
    }

    .homepage section.profile .background-image {
        aspect-ratio: 4/1.3;
    }
}

@media (max-width: 767.98px) {
    .headline {
        font-size: 2.625rem;
    }

    .title {
        font-size: 2rem;
    }

    .content-gap {
        margin-top: 36px;
    }

    .section-gap {
        padding-top: 82px;
    }

    .section-gap-margin {
        margin-top: 82px;
    }

    .homepage section.why-choose-us .content-value h2 {
        font-size: 1.375rem;
        font-family: var(--urbanist-semibold);
    }

    .homepage section.why-choose-us .content-value h6 {
        font-size: 1em;
        font-family: var(--urbanist-medium);
    }

    .homepage section.package .card-package h6 {
        font-size: 1rem;
        margin-top: 8px;
        margin-bottom: 2px;
    }

    .homepage section.package .card-package p {
        font-size: 0.875rem;
        margin-bottom: 0;
    }

    .homepage section.gallery .gallery-image.image-square img {
        aspect-ratio: 1/1;
    }

    .homepage section.gallery .gallery-image.image-landscape img {
        aspect-ratio: 1/1;
    }

    .homepage section.instructor .card-instructor {
        padding: 10px;
    }

    .homepage section.hero-small .description,
    .homepage section.detail-blog .wrapper {
        margin-bottom: 32px;
    }

    .homepage section.detail-blog .blog-list {
        margin-top: 32px;
    }

    .homepage section.detail-blog .blog-list .title,
    .homepage section.detail-blog .other-blog .title
    .homepage .title-small {
        font-size: 1.25rem;
    }

    .homepage section.service .content-value > .col:nth-child(1),
    .homepage section.service .content-value > .col:nth-child(2) {
        margin-top: 0;
    }

    .homepage section.profile .background-image {
        aspect-ratio: 4/2;
    }
}

@media (min-width: 992px) {
    .topbar,
    .dashboard .content {
        padding: 0 42px;
    }

    .homepage section.package .content-value > .col:nth-child(1),
    .homepage section.package .content-value > .col:nth-child(2),
    .homepage section.package .content-value > .col:nth-child(3),
    .homepage section.service .content-value > .col:nth-child(1),
    .homepage section.service .content-value > .col:nth-child(2),
    .homepage section.service .content-value > .col:nth-child(3),
    .homepage section.service .content-value > .col:nth-child(4),
    .homepage section.service .content-value > .col:nth-child(5) {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .homepage section.service .content-value > .col:nth-child(1),
    .homepage section.service .content-value > .col:nth-child(2),
    .homepage section.service .content-value > .col:nth-child(3),
    .homepage section.service .content-value > .col:nth-child(4) {
        margin-top: 0;
    }
}